<nav>
    <div class="nav-wrapper">
        <a href="/" class="logo">Courses app</a>
        <ul class="nav-bar">
            {{#if isHome}}
            <li class="active"><a href="/">Main</a> </li>
            {{else}}
            <li><a href="/">Main</a> </li>
            {{/if}}

            {{#if isCourses}}
            <li class="active"> <a href="/courses">Courses</a> </li>
            {{else}}
            <li> <a href="/courses">Courses</a> </li>
            {{/if}}

            {{#if isAdd}}
            <li class="active"> <a href="/add">Add course</a> </li>
            {{else}}
            <li> <a href="/add">Add course</a> </li>
            {{/if}}
            {{#if isCart}}
            <li class="active"> <a href="/cart">Cart</a> </li>
            {{else}}
            <li> <a href="/cart">Cart</a> </li>
            {{/if}}
            {{#if isAbout}}
            <li class="active"> <a href="/about">About</a> </li>
            {{else}}
            <li> <a href="/about">About</a> </li>
            {{/if}}
            <li> <a href="https://github.com/rubot88/courses-app-express-nodejs" target="_blank">
                    <img src="https://cdn1.iconfinder.com/data/icons/social-media-logos-7/64/github-512.png"
                        alt="github logo">
                </a> </li>


        </ul >
    </div>
</nav>