<h1>Courses</h1>
{{#if courses.length}}
<div class="courses">
    {{#each courses}}
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-image">
                    <img src={{img}} alt={{title}}>
                </div>
                <div class="card-content">
                    <span class="card-title courses_title">{{title}}</span>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action actions">
                    <div class="link-wrapper">
                        <a href="/courses/{{id}}/edit?allowed=true">Edit course</a>
                        <a href="/courses/{{id}}" target="_blank">Open course</a>
                    </div>
                        <button type="submit" class="btn btn-primary buy" data-id={{id}}>Buy</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>There are no courses yet</p>
{{/if}}